@import './variables.styl'

* 
  box-sizing: border-box
body
    background: $colorPrimaryLight
    font-family: 'Montserrat'
    font-size: $fontSizeDefault
.row
    &:after 
        content: ""
        clear: both
        display: block
[class*="col-"] 
    float: left
html 
    font-family: "Lucida Sans", sans-serif
.pd--0
    padding: 0px
.menu 
    ul 
        list-style-type: none
        margin: 0
        padding: 0
    li
        padding: 8px
        margin-bottom: 7px
        background-color: #33b5e5
        color: #ffffff
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
    &:hover 
        background-color: #0099cc
/* For desktop: */
.col-1 
    width: 8.33%
.col-2 
    width: 16.66%
.col-3 
    width: 25%
.col-4 
    width: 33.33%
.col-5 
    width: 41.66%
.col-6 
    width: 50%
.col-7 
    width: 58.33%
.col-8 
    width: 66.66%
.col-9 
    width: 75%
.col-10 
    width: 83.33%
.col-11 
    width: 91.66%
.col-12 
    width: 100%
.card
    background-color: #fff
    margin: 50px
    margin-top: 55px
    border-radius: 4px
    padding: 40px
    padding-top: 72px
    -webkit-box-shadow: 0 10px 6px -6px #979797
    -moz-box-shadow: 0 10px 6px -6px #979797
    box-shadow: 5px 5px 10px -6px #979797
    position: relative
.card__title
    background-color: $colorPrimaryLight           
    position: absolute
    top: 0px
    left: 50%
    transform: translate(-50%, -50%)
    padding: 0px
    padding-left: 25px
    padding-right: 25px
    border-radius: 30px
.breadcrumb
    padding: 0px
    list-style: none
    li 
        cursor: pointer
        display: inline
        font-size: 22px
        color: $colorPrimary
        a
            color: $colorPrimary
            text-decoration: none
    li+li
        &:before
            padding-left: 10px
            padding-right: 10px
            content: url('../image/icon/right-arrow.png')
    .badge--active
        background-color: $colorPrimary
.breadcrumb__badge
    height: 25px
    width: 25px
    background-color: $colorPrimaryDisabled
    color: #fff
    border-radius: 50%
    display: inline-block
    position: relative
    font-size: 14px
    margin-right: 5px
    top: 7px
    .badge__text
        transform: translate(-50%, -50%)
        position: absolute
        top: 50%
        left: 50%
.button__transparant
    background-color: transparent
    border: none
    padding-left: 25px
    text-decoration: none
    display: inline-block
    font-size: $fontSizeMedium
    cursor: pointer
    margin-top: 60px
    position: relative
    color: $colorDefault
.button__icon
    margin: 0
    position: absolute
    top: 50%
    -ms-transform: translateY(-50%)
    transform: translateY(-50%)
    left: 0px
.button__back
    position: absolute
    top: -40px
    left: 40px
// @media only screen and (max-width: 768px)
@media only screen and (max-width: 1110px)
    /* For small screen : */
    [class*="col-"]
        width: 100%
    .card__title
        position: relative
        padding: 0px
        margin-bottom: 20px
        background-color: #fff
        top: 50px
    .breadcrumb
        padding: 0px
        list-style: none
        li 
            cursor: pointer;
            font-size: $fontSizeBig;
            color: $colorPrimary;
            border: 1px solid;
            padding: 8px;
            padding-top: 0px;
            margin-bottom: 5px;
            border-radius: 10px;
            display: block
        li+li
            &:before
                padding-left: 0px
                padding-right: 0px
                content: ""