$colorPrimary = #FF8A00
$colorPrimaryLight = #FFFAE6
$colorPrimaryDisabled = #FFE4B8
$colorSuccess = #5CE3A0
$colorSuccessLight = #E8FBF1
$colorDefault = #999999

$fontSizeTitleBig = 36px
$fontSizeTitleMedium = 24px
$fontSizeDefault = 13px
$fontSizeMedium = 14px
$fontSizeBig = 16px
$fontSizeButton = 18px